main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.continue1-content{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 60px;
    font-weight: bold;
    color:rgb(255, 255, 255);
}

.continue2-content{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    /* margin-top: -100px; */
    margin-bottom: 100px;
}
.continue2-content img{
width : 80%;
}
.continue3-content{
  display:flex;
  align-items: center;
  justify-content:center;
  width: 100vw;
  /* margin-top : -150px; */
  color:white;
  padding: 20px 50px 20px 50px;
  box-sizing: border-box;
}

.ccon3-1 {
display: flex;
align-items: center;
justify-content: center;
margin-right: 100px;
}
.continue3-content .ccon3-1 img{
  /* position: relative; */
  /* margin-right : 800px; */
  height: auto;
  width: 250px;
  max-width : 100%;
  /* object-fit: cover; */
}
.continue3-content .ccon3-2{
  /* position: absolute; */
  /* margin-left : 500px; */
  font-size: 30px;
  flex: 1;
  /* padding: 10px 100px 10px 100px; */
  display: flex;
  flex-flow: column;
  border-radius: 5px;
  /* background-color: rgba(0,0,0,0.2); */
  /* padding: 5px 20px 5px 20px; */
}


.header h1, .continue5-content h1 {
  margin-left: 20px;
  background: linear-gradient(91.97deg, #1B7D98 -21.42%, #26AD95 38.95%, #2CC994 98.57%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.ccon3-2-1 h1{
  /* text-align: center; */
  margin: 0;

}

.continue3-content .ccon3-3{
    /* position: absolute; */
    /* margin-left : 640px; */
    font-size: 30px;
}
.continue4-content{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: -100px;
    margin-bottom: 150px;
    font-size: 20px;
    color:rgb(255, 255, 255);
}
.continue5-content{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-top: 0px;
    font-size: 30px;
    color:rgb(255, 255, 255);
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
}


.continue5-content2 {
  padding: 10px 50px 50px 50px;
  font-family: "roboto";
}
.content-box {
    color: white;
    border: 1px solid #ccc;
    background :#181334;
    font-size:20px;
    box-shadow: 0 0 0 5px #a3edfa; /* This adds a highlight border */
    outline: 1px solid transparent; /* This removes the default outline */
  }
  
  .content {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
  }
  
  .toggle-button {
    display: block;
    color : #FFFFFF;
  }
  
  .open .content {
    max-height: 400px;
  }
  .content-box {
    border: 0px solid #ccc;
    padding: 0px;
    margin-bottom: 0px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .toggle-button {
    font-size: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .body {
    display: block;
    /* background-color: #26AD95; */
    /* background: linear-gradient(91.97deg, #1B7D98 -21.42%, #26AD95 38.95%, #2CC994 98.57%); */
    /* background-color: rgba(10, 9, 90, 0.5); */
    background: linear-gradient(91.97deg, #1a2a6c -21.42%, #2c3e50 208.95%); color: #fff;
    font-size:30px;
    max-width : 100%;
  }
  .body p {
    margin: 0;
  }

  .header button {
    margin-right: 20px;
  }
  
  .minimized {
    display: none;
  }
  p span {
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
  }
  td{
    text-align: justify; 
    vertical-align: top;
  }

  .continue1-content{
    font-size: 4vw; /* responsive font size */
    margin-left: 0;
    margin-top: 0;
}

.continue2-content{
    width: 100%;
    margin-bottom: 5vh; /* responsive margin */
}

.continue3-content{
    padding: 2vh 15vw; /* responsive padding */
}

.ccon3-1 img{
    height: auto; /* responsive image height */
    width: 150px; /* responsive image width */
}

.ccon3-2{
    font-size: 2vw; /* responsive font size */
}

.continue3-content .ccon3-3{
    font-size: 2vw; /* responsive font size */
}

.continue4-content{
    margin-top: -10vh; /* responsive margin */
    margin-bottom: 10vh; /* responsive margin */
    font-size: 1.5vw; /* responsive font size */
}

.continue5-content{
    font-size: 2vw; /* responsive font size */
}

h1 {
    font-size: 3vw; /* responsive font size */
}

.continue5-content2 {
    padding: 1vh 5vw; /* responsive padding */
    font-size: 1.5vw; /* responsive font size */
}

@media screen and (max-width: 768px) {
    /* Styles for screens with width up to 768px */
    .continue1-content{
        font-size: 8vw; /* responsive font size */
    }

    .continue2-content{
        margin-bottom: 10vh; /* responsive margin */
        width : 100%;
    }

    .ccon3-1 img{
        max-width : 100%;
        height: auto; /* responsive image height */
        width: 100px; /* responsive image width */
    }

    .ccon3-2{
        font-size: 3vw; /* responsive font size */
    }

    .continue3-content .ccon3-3{
        font-size: 3vw; /* responsive font size */
    }

    .continue4-content{
        margin-top: -15vh; /* responsive margin */
        margin-bottom: 15vh; /* responsive margin */
        font-size: 2vw; /* responsive font size */
    }

    .continue5-content{
        font-size: 3vw; /* responsive font size */
    }

    h1 {
        font-size: 5vw; /* responsive font size */
    }

    .continue5-content2 {
        padding: 5vh 5vw; /* responsive padding */
        font-size: 3vw; /* responsive font size */
    }
}

.main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.continue3-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* responsive grid layout */
    gap: 10px; /* responsive gap between grid items */
}

.continue3-content.ccon3-1 img{
  max-width : 100%;
  height: auto; /* responsive image height */
  width: 100px; /* responsive image width */
}

.container {
    width: 90%; /* responsive width for containers */
    margin: 0 auto; /* center the container */
}
