.container {
  box-sizing: border-box;
  /* padding-top: 100px; */
  /* height: 80vh; */
  /* margin-top: -00px; */
  border-radius: 10px;
  width: 95vw;
  background-color: rgba(250, 250, 250, 1);
  transition: height 1s, padding 1s;
  display: flex;
  flex-flow: column;
  /* padding-left: 20px; */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  /* align-items: center; */
  justify-content: center;
  font-size: 1vw;
  overflow-y: auto !important;
  overflow-x: hidden;
  padding: 20px;
  margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* justify-content: center; */
  align-items: center;
}

table {
  /* width: 85vw; */
  /* margin-top: 50px; */
}

td p {
  font-size: 18px;
  font-family: "roboto";
}

#table * {
  /* color: white; */
}
