.container {
  width: 100vw;
  height: 90vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    56deg,
    rgba(0, 0, 0, 0.4) 17%,
    rgba(9, 9, 9, 0.4) 57%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 80vw;
  height: 35vw;
}

.top-container {
  width: 80vw;
  height: 30vw;
}

.top-content {
  width: 80vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e6e7e7;
  margin-bottom: 10px;
}

.top-content img {
  width: 30px;
  height: 30px;
  margin: 0 30px;
}

.bottom-content {
  width: 80vw;
  height: 25vw;
}

.bottom-container button {
  position: relative;
  font-size: 1.75em;
  width: 200px;
  height: 50px;
  color: #23a196;
  background-color: transparent;
  border: 3px solid #23a196;
  border-radius: 4px;
  margin-top: 45px;
}

.bottom-container button::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: linear-gradient(90.64deg, #1b7d98 -47.97%, #26ad95 149.73%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.bottom-container button:hover::before {
  width: 100%;
}

.bottom-container button:hover {
  cursor: pointer;
  color: #e6e7e7;
}

swiper-container {
  width: 80vw;
  height: 25vw;
}

swiper-slide {
  display: flex;
}

swiper-slide img {
  width: calc(100% / 3);
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vw;
}

@media screen and (max-width: 1200px) {
  .container {
    height: 70vh;
  }
  swiper-container {
    width: 80vw;
    height: 25vw;
  }
  .top-content img {
    width: 25px;
    height: 25px;
    margin: 0 20px;
  }
  .top-content h1 {
    font-size: 1.75em;
  }
  .bottom-container button {
    width: 175px;
    height: 40px;
    font-size: 1.25em;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {
  .container {
    height: 60vh;
  }
  swiper-container {
    width: 65vw;
    height: 20vw;
    margin-top: 10px;
  }
  .bottom-container button {
    width: 175px;
    height: 40px;
    font-size: 1.25em;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 625px) {
  .container {
    height: 30vh;
  }
  swiper-container {
    width: 65vw;
    height: 20vw;
    margin-top: 10px;
  }
  .top-content img {
    width: 15px;
    height: 15px;
    margin: 0 10px;
  }
  .top-content h1 {
    font-size: 1.25em;
  }
  .bottom-container button {
    width: 100px;
    height: 30px;
    font-size: 0.75em;
    border: 2px solid #23a196;
    margin-bottom: 50px;
  }
}

.container-2 {
  margin-top: 90px !important;
  width: 100vw;
  padding-bottom: 50px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    56deg,
    rgba(0, 0, 0, 0.4) 17%,
    rgba(9, 9, 9, 0.4) 57%
  );
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-1-main,
.container-2-main {
  position: relative;
  width: 80vw;
  height: 70vh;
  z-index: 99;
  overflow: hidden;
  border-radius: 40px;
  margin-top: 50px;
}

.card-1 .round-1,
.card-2 .round-2 {
  z-index: 98;
  background: linear-gradient(90.64deg, #1b7d98 -47.97%, #26ad95 149.73%);
  opacity: 0.5;
  width: 500px;
  height: 500px;
  position: absolute;
  border-radius: 50%;
  right: -250px;
  bottom: -300px;
}

.container-1-main .card-1 h1,
.container-2-main .card-2 h1 {
  color: #e6e7e7;
  text-shadow: -2px 5px 2px rgba(0, 0, 0, 0.2);
  position: absolute;
  font-size: 42px;
  z-index: 99;
  bottom: 50px;
  right: 50px;
  transition: 0.4s ease;
}

.container-1-main .card-1 p,
.container-2-main .card-2 p {
  position: absolute;
  width: 350px;
  letter-spacing: 1px;
  z-index: 99;
  transition: 0.2s ease;
  text-align: justify;
  bottom: 50px;
  right: 50px;
  opacity: 0;
  color: #e6e7e7;
  font-weight: 600;
}

.container-1-main .card-1 .image {
  width: 100%;
  height: 100%;
  z-index: 97;
  position: absolute;
  opacity: 0.8;
}

.container-2-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.card-1:hover .round-1,
.card-2:hover .round-2 {
  transform: scale(2.1);
  transition: 0.4s ease-in-out;
  opacity: 0.5;
}

.container-1-main .card-1:hover h1 {
  bottom: 200px;
  right: 40px;
}

.container-2-main .card-2:hover h1 {
  bottom: 180px;
  right: 70px;
}

.container-1-main .card-1:hover p,
.container-2-main .card-2:hover p {
  bottom: 60px;
  right: 35px;
  opacity: 1;
}

.container-1-main .card-1:hover .image-1,
.container-2-main .card-2:hover .image-2 {
  width: 100%;
  opacity: 0.2;
  transition: 0.5s ease-in-out;
}
/* Responsive */

@media screen and (max-width: 1150px) {
  .container-1-main .card-1 .image-1,
  .container-2-main .card-2 .image-2 {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  .container-2-main,
  .container-1-main {
    height: 55vh;
  }

  .container-1-main .card-1 .round-1,
  .container-2-main .card-2 .round-2 {
    width: 450px;
    height: 450px;
  }

  .container-1-main .card-1 h1 {
    font-size: 2.5em;
    bottom: 30px;
    right: 45px;
  }

  .container-2-main .card-2 h1 {
    font-size: 1.75em;
    bottom: 40px;
    right: 45px;
  }

  .container-1-main .card-1 p {
    font-size: 0.85em;
    width: 250px;
  }

  .container-2-main .card-2 p {
    font-size: 1em;
    width: 290px;
  }

  .container-1-main .card-1:hover h1 {
    font-size: 2em;
    bottom: 250px;
    right: 35px;
  }

  .container-2-main .card-2:hover h1 {
    font-size: 1.25em;
    bottom: 210px;
    right: 25px;
  }

  .container-1-main .card-1:hover p {
    bottom: 50px;
  }

  .container-2-main .card-2:hover p {
    bottom: 45px;
    right: 25px;
  }
}

@media screen and (max-width: 900px) {
  .container-1-main,
  .container-2-main {
    height: 45vh;
  }

  .container-1-main .card-1 .round-1,
  .container-2-main .card-2 .round-2 {
    width: 450px;
    height: 450px;
  }

  .container-1-main .card-1:hover .round-1,
  .container-2-main .card-2:hover .round-2 {
    transform: scale(1.78);
  }

  .container-1-main .card-1 h1 {
    font-size: 2em;
    bottom: 40px;
    right: 50px;
  }

  .container-1-main .card-1 p {
    font-size: 0.75em;
    width: 230px;
  }

  .container-1-main .card-1:hover h1 {
    font-size: 1.5em;
    bottom: 150px;
    right: 35px;
  }

  .container-1-main .card-1:hover p {
    bottom: 10px;
  }

  .container-2-main .card-2 h1 {
    font-size: 1.75em;
  }

  .container-2-main .card-2 p {
    font-size: 0.75em;
    width: 210px;
  }

  .container-2-main .card-2:hover h1 {
    font-size: 1.1em;
    bottom: 150px;
    right: 35px;
  }

  .container-2-main .card-2:hover p {
    bottom: 20px;
  }
}

@media screen and (max-width: 740px) {
  .container-1-main,
  .container-2-main {
    height: 35vh;
  }

  .container-1-main .card-1 .round-1,
  .container-2-main .card-2 .round-2 {
    width: 400px;
    height: 400px;
  }

  .container-1-main .card-1:hover .round-1,
  .container-2-main .card-2:hover .round-2 {
    transform: scale(1.6);
  }

  .container-1-main .card-1 h1 {
    font-size: 1.5em;
    bottom: 25px;
    right: 25px;
  }

  .container-1-main .card-1 p {
    font-size: 0.5em;
    width: 140px;
  }

  .container-1-main .card-1:hover h1 {
    font-size: 1em;
    bottom: 130px;
    right: 15px;
  }

  .container-1-main .card-1:hover p {
    bottom: 10px;
    right: 15px;
  }

  .container-2-main .card-2 h1 {
    font-size: 1.2em;
    bottom: 25px;
    right: 50px;
  }

  .container-2-main .card-2 p {
    font-size: 0.5em;
    width: 140px;
  }

  .container-2-main .card-2:hover h1 {
    font-size: 0.75em;
    bottom: 130px;
    right: 15px;
  }

  .container-2-main .card-2:hover p {
    bottom: 30px;
    right: 15px;
  }
}

/* footer */
footer {
  box-sizing: border-box;
  width: 100vw;
  background: linear-gradient(180deg, #272a63 0%, #1a2066 100%);
  display: flex;
  flex-wrap: wrap;
  padding: 80px 70px 80px 70px;
  justify-content: space-between;
}

.left-footer p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 47.029px;
  line-height: 55px;
  text-align: start;
  letter-spacing: 0.15em;
  color: #ffffff;
  text-shadow: 0px 5.70048px 27.0773px rgba(210, 204, 253, 0.36);
}

.left-footer {
  display: flex;
  flex-flow: column;
  justify-content: start;
}

.right-footer p {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #ffffff;
}

.right-footer-item a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #ffffff;
  margin-left: 10px;
}

.right-footer-item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 775px) {
  .right-footer,
  .left-footer {
    transform: scale(0.8);
  }

  .left-footer {
    margin-bottom: 50px;
  }
}

.dropdown {
  position: absolute;
  background-color: white;
  width: 100px;
  right: 10px;
  bottom: -30px;
  padding: 10px;
  border-radius: 5px;
  display: none;
}
