main {
  display: flex;
  align-items: center;
  height: calc(100% - 120px);
  justify-content: center;
}

body {
  height: 100vh !important;
}

.temp {
  max-width: 500px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.temp h1,
.temp p {
  color: black;
}

h1 {
  font-size: 32px !important;
  font-family: "Roboto";
  margin-top: 8px;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.03em;
  background: linear-gradient(
    86.06deg,
    #1b7d98 -44.31%,
    #25aa96 89.3%,
    #26ad95 99.33%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

tr {
  font-size: 1em;
}

.td-1 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.fs-1 {
  font-size: 24px;
  font-weight: bold;
}

main img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: solid 1px gray;
}

table {
  margin: 16px 0;
}

td {
  padding: 12px 8px;
}

.payment-btn {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #2bc894;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.payment-btn:hover {
  background-color: #1f9097;
}
